body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Roboto';
    
}
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}






.first-section{
    width: auto;
    background-image: url(../img.modul8/Desktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 138px;
    margin: 0 auto;
    
}
.wrapper{
    width: 320px;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5px;
}
.nav-menu{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 300px;
    align-items: center;
    margin-top: 20px;
  }
  .menu{
    padding-top: 30px;
}
.nav-item{
    cursor: pointer;
    box-sizing: border-box;
    
    border-radius: 20px;
    padding: 7px;
    margin-right: 10px;
    
    
}
.border-visual  {
    
    border: 2px solid white;
}
.nav-item a{
    font-family: 'Montserrat';
    font-size: 14px;
    color: white;
    line-height: 1;
    font-weight: 700;
    padding: 17px;
    text-align: center;
}
.logo{
    margin-top: 115px;
}
.logo a{
    display: block;
    font-family: 'Montserrat';
    font-size: 20px;
    color: white;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.first-section-name{
    font-family: 'Montserrat';
    font-size: 30px;
    color: white;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; 
    margin: 0 auto;
    margin-top: 40px;
    
    
}
.first-section-text{
    width: 225px;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    line-height: 19px;
    text-align: center; 
    margin: 0 auto;
    margin-top: 24px;
    padding-top: 5px;
    
}
.first-section-button{
    display: block;
    text-align: center;
     background-color: #ff4e50;
     width: 280px;
     height: 40px;
     margin: 0 auto;
     border-radius: 15px;
     margin-top: 20px;
}
.first-section-button a{
    font-family: 'Montserrat';
    font-size: 14px;
    color: white;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 40px;
}

.second-section{
    width: auto;
    background-color: #fff;
    padding-bottom: 57px;
    margin: 0 auto;
}
.second-section-name{
    margin: 0;
    padding-top: 75px;
    font-family: 'Montserrat';
    font-size: 20px;
    color: black;
    line-height: 1;
    text-align: center;
    margin: 0 auto;
    width: 263px;
    
}
.partner-list{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 220px;
    margin: 0 auto;
}
.img-wrapp{
    position: relative;
    width: 130px;
    height: 130px;
    margin: 0 auto;
}
.partner-item img{

    display: block;
    margin: 0 auto;
}
.partner-icon{
    display: inline-block;
    margin: 0;
    padding: 0;
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    left: 80px;
    top: 80px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
.first-icon{
    background-image: url(../img.modul8/icon1-Desktop.png);
    background-color: #ff4e50;
}

.second-icon{
    background-image: url(../img.modul8/icon3-Desktop.png);
    background-color: #ffa507;
}
.third-icon{
    background-image: url(../img.modul8/icon2-Desktop.png);
    background-color: #1cd7ad;

}
.fours-icon{
    background-image: url(../img.modul8/icon4-Desktop.png);
    background-color: #4e73db;
}
.partner-name{
    margin: 0;
    font-family: 'Montserrat';
    font-size: 14px;
    color: black;
    line-height: 1;
    text-align: center;
    margin-top: 20px;
    margin: 0 auto;
}
.partner-text{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    color: rgba(102, 102, 102, 0.9);
    line-height: 14px;
    text-align: center; 
    
    
}
.second-section-button{
    display: block;
    width: 277px;
    height: 38px;
    border: 2px solid #ff4e50;
    border-radius: 22px;
    margin: 0 auto;
    margin-top: 30px;
}
.second-section-button a{
    display: block;
    color: #ff4e50;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: bold;

    line-height: 38px;
    text-align: center;
}
@media screen and (min-width: 768px){
    .content{
        margin: 0 auto;
    }
     .wrapper{
         width: 660px;
         box-sizing: border-box;
     }
     .first-section{
         width: auto;
         padding-bottom: 233px;
     }
 .header{
     display: flex;
     flex-direction: row-reverse;
     width: 660px;
     margin: 0 auto;
     box-sizing: inherit;
     
     
 }
 
 .logo{
 align-self: flex-start;
 margin: 0;
 margin-left: 0;
 width: 330px;
 position: relative;
 }
 .logo a{
     display: block;
     position: absolute;
     left: 0;
     padding-top: 10px;
 }
 .menu{
    align-self: flex-end;
    
    padding: 0;
    width: 330px;
    
    }
 .nav-menu{
     margin: 0;
     margin-left: 78px;
     padding: 0;
 }
 
 
 .first-section-name{
     width: 550px;
     margin-top: 130px;
     font-size: 52px;
 
 }
 .first-section-text{
     width: 500px;
     margin-top: 40px;
     font-size: 24px;
 }
 .first-section-button{
     margin-top: 40px;
 }

 .second-section-name{
     width: 400px;
 }
 .partner-list{
     display: flex; 
          
     flex-wrap: wrap;
     
     margin: 0 auto;
     margin-top: 37px;
     width: 592px;
 }
 .partner-item{
     margin: 0 auto;
     width: 236px;
     
 }
 .partner-item:nth-child(2n){
     margin-bottom: 46px;

 }
 }
 @media screen and (min-width: 1040px){

.wrapper{
    width: 942px;
    
    margin: 0 auto;
    box-sizing: border-box;
}
.first-section{
    width: auto;
}
.header{
    width: 942px;
    margin: 0 auto;
}


.logo{
    height: 30px;
    align-self: flex-start;
    margin: 0;
    margin-left: 0;
    width: 50%;
    position: relative;
    }
    .logo a{
        display: block;
        position: absolute;
        left: 0;
        padding-top: 10px;
    }
    .menu{
        align-self: flex-end;
        padding: 0;
        width: 50%;
        
        }
        .nav-menu{
            margin: 0;
            margin-left: 211px;
        }

        .second-section{
            width: auto;
            margin: 0 auto;
        }
        
        .partner-list{
            display: flex; 
             flex-direction: row;  
             align-self: flex-start;
             flex-wrap: nowrap;
             justify-content: space-between;
             width: 940px;
             margin: 0;
             margin-top: 40px;
             
        }
        .partner-item{
        width: 234px;
        margin: 0 auto;
        
        }
}