body {
    background-color: #ffcc;
}
.wrapper{width: 70%;
    margin: auto;
    background-color: gray;
    height: 2000px;
}
.nav-menu{
    width: 70%;
    height: 50px;
    outline: 1px solid red;
    background-color: blue;
    margin-left: 120px;
    
    
    
}
li{list-style-type: none;}
.nav-menu li{
display: inline-block;
padding-left: 59px;
margin-top: 15px;
}
.nav-menu li a{color: white;
text-decoration: none;
}
.nav-menu li a:hover{
    color: red;
    background-color: green;
}
.block-text{
    text-indent: 25px;}



#first-block{
    display: inline-block;
    
}
#second-block{
    display: inline-block;
    margin-right: auto;
    
}



#third-block{
    display: inline-block;}
    
    
 #fours-block{
    display: inline-block;
    margin-right: auto;
    
    
    
}
